# Index of all potential Imports per Model
#### Clean up later

In [46]:
# Imports for Sergio > Machine Learing Model Test
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sqlalchemy import create_engine
from config import db_password
import psycopg2

# Imports > Linear regression example
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

# Imports > Logistic Regression
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import numpy as np

# Imports > Logistic Regression Example - Predicting Diabetes
from path import Path
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix, classification_report

# Imports > SVM Example - Loan Approver
from path import Path
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

# Imports > Example - Decision Trees
import pandas as pd
from path import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

# Imports > Example - Random Forest Model
import pandas as pd
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

# Imports > Example - Gradient Boosted Tree
import pandas as pd
from path import Path
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

# Imports > Example - Combination Sampling
import pandas as pd
from path import Path
from collections import Counter
from sklearn.model_selection import train_test_split
from imblearn.combine import SMOTEENN
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import balanced_accuracy_score
from imblearn.metrics import classification_report_imbalanced

# Imports > Custom Encoding
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Imports > Custom Scale
import pandas as pd
from sklearn.preprocessing import StandardScaler
import numpy as np

# Machine Learning Options

# ---------------------------------------------------------------------------------------------------------------

# Machine Learning Model Formats

## >>>[Linear Regression]

### 1. Create a model - Linear Regression

#### Import data

In [ ]:
# Load CSV file as Pandas DataFrame
df = pd.read_csv(Path('Resources/Salary_Data.csv'))
df.head()

In [ ]:
# inspect relationship between Year of Experience and Salary
plt.scatter(df.YearsExperience, df.Salary)
plt.xlabel('Years of Experience')
plt.ylabel('Salary in USD')
plt.show()

#### Split the data into input (X) and output (y)

In [ ]:
# format data to meet the requirements of the Scikit-learn library
# Conventionally, the independent variable is placed on the x-axis, dependend on the y-axis
# first argument of reshape() specifies the number of rows. -1 means number of rows is unspecified
# second argument of reshape() refers to the number of columns. 1 means there is only one column of independnent variables
# The data in the df column must be reshaped into an array with shape (num_samples, num_features)
# https://stackoverflow.com/questions/18691084/what-does-1-mean-in-numpy-reshape
X = df.YearsExperience.values.reshape(-1, 1)

In [ ]:
# examine first five entries in X
X[:5]

In [ ]:
# The shape of X is 30 samples, with a single feature (column)
X.shape

In [ ]:
# reshape the Salary column as for the dependent variable. reshape() was not needed in this instance
y = df.Salary

In [ ]:
y[:5]

In [ ]:
y.shape

#### Create a Linear Regression Model

In [ ]:
# object instantiated, or created, from skylearn.linear_model's LinearGregresion class
model = LinearRegression()

### 2. Train the model with model.fit()

In [ ]:
# learning stage, alternatively called fitting or training
model.fit(X, y)

### 3. Make predictions with model.predict()

In [ ]:
# use predict() method to generate predictions
y_pred = model.predict(X)
print(y_pred.shape)

In [ ]:
# Plot the predictions as a red line against the data
plt.scatter(X, y)
plt.plot(X, y_pred, color='red')
plt.show()

In [ ]:
# examine specific parameters of model: the slope, model.ceof_, and the y-intercept, model.intercept_
print(model.coef_)
print(model.intercept_)

 # >>>[Logistic Regression]

In [17]:
# Logistic Regression is a statistical method for predicting binary outcomes from data.
# Examples of this are "yes" vs "no" or "high credit risk" vs "low credit risk".
# These are categories that translate to probability of being a 0 or a 1

# We can calculate logistic regression by adding an activation function as the final step to our linear model.
# This converts the linear regression output to a probability.

### 1. Create a model - Logistic Regression

#### Import data

In [ ]:
data = Path('Resources/diabetes.csv')
df = pd.read_csv(data)
df.head()

 #### Separate the Features (X) from the Target (y)

In [ ]:
y = df["Outcome"]
X = df.drop(columns="Outcome")

 #### Split our data into training and testing

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

 #### Create a Logistic Regression Model

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

### 2. Train the model

 #### Fit (train) or model using the training data

In [ ]:
classifier.fit(X_train, y_train)

### 3. Make predictions

In [ ]:
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

### 4. Validate the model with Accuracy Score, Confusion Matrix, and Generate Classification Report

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

#### Precision Recall

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report

In [ ]:
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

In [ ]:
report = classification_report(y_test, y_pred)
print(report)

# >>>[Support vector machine (SVM)]

In [ ]:
# There are a number of classification algorithms that can be used to determine loan elgibility.
# Some algorithms run better than others. Build a loan approver using the SVM algorithm and compare the accuracy and
# performance of the SVM model with the Logistic Regression model.

### 1. Create a model - Support Vector Machine

#### Import data

In [ ]:
# Read in the data
# Note: The following data has been normalized between 0 and 1
data = Path('Resources/loans_svm.csv')
df = pd.read_csv(data)
df.head()

 #### Separate the Features (X) from the Target (y)

In [ ]:
# Segment the features from the target
y = df["status"]
X = df.drop(columns="status")

 #### Split our data into training and testing

In [ ]:
# Use the train_test_split function to create training and testing subsets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

 #### Create a SVM Model

In [ ]:
# Instantiate a linear SVM model
from sklearn.svm import SVC
model = SVC(kernel='linear')

### 2. Train the model

 #### Fit (train) or model using the training data

In [ ]:
# Fit the data
model.fit(X_train, y_train)

### 3. Make predictions

In [ ]:
# Make predictions using the test data
y_pred = model.predict(X_test)
results = pd.DataFrame({
    "Prediction": y_pred, 
    "Actual": y_test
}).reset_index(drop=True)
results.head()

### 4. Validate the model with Accuracy Score, Confusion Matrix, and Classification Report

#### Generate accuracy score

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

#### Generate Confusion Matrix

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

#### Generate Classification Report

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

# >>>[Decision Trees]

### 1. Create a model - Decision Tree

#### Import data

In [ ]:
# Loading data
file_path = Path("Resources/loans_data_encoded_decision_trees.csv")
df_loans = pd.read_csv(file_path)
df_loans.head()

 #### Separate the Features (X) from the Target (y)

In [ ]:
# Define features set
X = df_loans.copy()
X = X.drop("bad", axis=1)
X.head()

In [ ]:
# Define target vector
y = df_loans["bad"].values.reshape(-1, 1)
y[:5]

 #### Split our data into training and testing

In [ ]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

In [ ]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(X, y, random_state=78, train_size=0.80)

In [ ]:
print(X_train2.shape)
print(X_test2.shape)
print(y_train2.shape)
print(y_test2.shape)

 #### Create a Decision Tree Model

In [ ]:
# Creating StandardScaler instance
scaler = StandardScaler()

In [ ]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

In [ ]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### 2. Train the model

 #### Fit (train) or model using the training data

In [ ]:
# Creating the decision tree classifier instance
model = tree.DecisionTreeClassifier()

In [ ]:
# Fitting the model
model = model.fit(X_train_scaled, y_train)

### 3. Make predictions

In [ ]:
# Making predictions using the testing data
predictions = model.predict(X_test_scaled)
predictions

### 4. Validate the model with Accuracy Score, Confusion Matrix, and Classification Report

#### Generate Accuracy Score & Confusion Matrix & Classification Report

In [ ]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)
print(cm_df)
# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [ ]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

# >>>[Random Forest Model]

### 1. Create a model - Random Forest Model

#### Import data

In [ ]:
# Loading data
file_path = Path("Resources/loans_data_encoded_random_forest_model.csv")
df_loans = pd.read_csv(file_path)
df_loans.head()

 #### Separate the Features (X) from the Target (y)

In [ ]:
# Define features set
X = df_loans.copy()
X = X.drop("bad", axis=1)
X.head()

In [ ]:
# Define the target set.
y = df_loans["bad"].ravel()
y[:5]

 #### Split our data into training and testing

In [ ]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

 #### Create a Random Forest Model

In [ ]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

### 2. Train the model

 #### Fit (train) or model using the training data

In [ ]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

### 3. Make predictions

In [ ]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)
predictions

### 4. Validate the model with Accuracy Score, Confusion Matrix, Classification Report and Rank Importance of Features

In [ ]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

In [ ]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

In [ ]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

#### Rank the Importnace of Features

In [ ]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

In [ ]:
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

# >>>[Gradient Boosted Tree]

### 1. Create a model - Gradient Boosted Tree Model (Preprocessing)

#### Import data

In [ ]:
# Load data
file_path = Path("Resources/loans_data_encoded_gradient_boosted_tree.csv")
loans_df = pd.read_csv(file_path)
loans_df.head()

#### Separate the Features (X) from the Target (y)

In [ ]:
# Define features set
X = loans_df.copy()
X = X.drop("bad", axis=1)
X.head()

In [ ]:
# Define target vector
y = loans_df["bad"].values

#### Split our data into training and testing

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    random_state=1)

#### Create a Gradient Boosted Tree Model

In [ ]:
# Creating StandardScaler instance
scaler = StandardScaler()

# Fitting Standard Scaler
X_scaler = scaler.fit(X_train)

# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

# Create a classifier object
learning_rates = [0.05, 0.1, 0.25, 0.5, 0.75, 1]
for learning_rate in learning_rates:
    classifier = GradientBoostingClassifier(n_estimators=20,
                                            learning_rate=learning_rate,
                                            max_features=5,
                                            max_depth=3,
                                            random_state=0)

    # Fit the model
    classifier.fit(X_train_scaled, y_train)
    print("Learning rate: ", learning_rate)

    # Score the model
    print("Accuracy score (training): {0:.3f}".format(
        classifier.score(
            X_train_scaled,
            y_train)))
    print("Accuracy score (validation): {0:.3f}".format(
        classifier.score(
            X_test_scaled,
            y_test)))
    print()

### 2. Train the model (Choosing Best Learning Rate)

#### Fit (train) or model using the training data

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

# Create a classifier object
learning_rates = [0.05, 0.1, 0.25, 0.5, 0.75, 1]
for learning_rate in learning_rates:
    classifier = GradientBoostingClassifier(n_estimators=20,
                                            learning_rate=learning_rate,
                                            max_features=5,
                                            max_depth=3,
                                            random_state=0)

    # Fit the model
    classifier.fit(X_train_scaled, y_train)
    print("Learning rate: ", learning_rate)

    # Score the model
    print("Accuracy score (training): {0:.3f}".format(
        classifier.score(
            X_train_scaled,
            y_train)))
    print("Accuracy score (validation): {0:.3f}".format(
        classifier.score(
            X_test_scaled,
            y_test)))
    print()

### 3. Make predictions (Create Gradient Boosting Classifier)

In [ ]:
# Choose a learning rate and create classifier
classifier = GradientBoostingClassifier(n_estimators=20,
                                        learning_rate=0.5,
                                        max_features=5,
                                        max_depth=3,
                                        random_state=0)

# Fit the model
classifier.fit(X_train_scaled, y_train)

# Make Prediction
predictions = classifier.predict(X_test_scaled)
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).head(20)

### 4. Validate the model with Accuracy Score, Confusion Matrix, Classification Report and Rank Importance of Features

In [ ]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)
print(f"Accuracy Score : {acc_score}")

In [ ]:
# Generate the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"],
    columns=["Predicted 0", "Predicted 1"]
)

# Displaying results
display(cm_df)

In [ ]:
# Generate classification report
print("Classification Report")
print(classification_report(y_test, predictions))

# >>>[Combination Sampling Model]

In [ ]:
# Implement the SMOTEENN technique with the credit card default data.
# Then estimate a logistic regression model and report the classification evaluation metrics.
# ln_balance_limit is the log of the maximum balance they can have on the card;
# 1 is female, 0 male for sex; the education is denoted: 1 = graduate school; 2 = university; 3 = high school;
# 4 = others; 1 is married and 0 single for marriage; default_next_month is whether the person defaults in the following month (1 yes, 0 no).

### 1. Create a model - Random Forest Model

#### Import data

In [ ]:
data = Path('Resources/cc_default_combination_sampling.csv')
df = pd.read_csv(data)
df.head()

#### Separate the Features (X) from the Target (y)

In [ ]:
x_cols = [i for i in df.columns if i not in ('ID', 'default_next_month')]
X = df[x_cols]
y = df['default_next_month']

In [ ]:
x_cols

In [ ]:
Counter(y)

#### Split our data into training and testing

In [ ]:
# Normal train-test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

#### Create a Combination sampling with SMOTEENN

In [ ]:
# Use the SMOTEENN technique to perform combination sampling on the data
# Count the resampled classes
from imblearn.combine import SMOTEENN

smote_enn = SMOTEENN(random_state=0)
X_resampled, y_resampled = smote_enn.fit_resample(X, y)
Counter(y_resampled)

### 2. Train the model (Logistic Regression)

#### Fit (train) or model using the training data

In [ ]:
# Fit a Logistic regression model using random undersampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

### 3. Make predictions

In [ ]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

### 4. Validate the model with Accuracy Score, Confusion Matrix, Classification Report and Rank Importance of Features

In [ ]:
# Calculate the Balanced Accuracy Score
from sklearn.metrics import balanced_accuracy_score

balanced_accuracy_score(y_test, y_pred)

In [ ]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced

print(classification_report_imbalanced(y_test, y_pred))

In [ ]:
### 1. Create a model - Random Forest Model
#### Import data
#### Separate the Features (X) from the Target (y)
#### Split our data into training and testing
#### Create a Random Forest Model
### 2. Train the model
#### Fit (train) or model using the training data
### 3. Make predictions
### 4. Validate the model with Accuracy Score, Confusion Matrix, Classification Report and Rank Importance of Features

# ---------------------------------------------------------------------------------------------------------------

# Actual Machine Learning Model

### 1. Create a model - Linear Regression

#### Import data

In [47]:
# Import data from PostgresSQL using SQLalchemy
#Connect to PostgresSQL
# SQL Tables:
# clean_test
# clean_test_df
# clean_train
# clean_train_df
# features
db_string = f"postgresql://postgres:{db_password}@housing-prices.ctpruadwlamv.us-east-2.rds.amazonaws.com:5432/housing-prices"
engine = create_engine(db_string)

In [1]:
# Read
df = pd.DataFrame(pd.read_sql_query("SELECT * FROM clean_train;", engine, index_col='Id'))
df.head(10)

NameError: name 'pd' is not defined

In [286]:
# Clean Data

#Combine and drop Full_Bath and Half_bath
df["Half_Bath"] = df["Half_Bath"].div(2)
df["No_of_Bath"] = df["Full_Bath"] + df["Half_Bath"]
df.drop(['Full_Bath', 'Half_Bath'], axis=1)

# Organize Columns
df = df[['HouseStyle',
        'No_of_Bedrooms',
        'No_of_Bath',
        'Garage_Type',
        'Total_Sqft',
        'Lot_Location',
        'YearBuilt',
        'Year_Remodeled',
        'FirstExterior',
        'SecondExterior',
        'MasonryVeneer_Type',
        'Neighborhood',
        'Overall_Quality',
        'Overall_Condition',
        'Sale_Condition',
        'Sale_Price'
        ]]

df.head(10)

,HouseStyle,No_of_Bedrooms,No_of_Bath,Garage_Type,Total_Sqft,Lot_Location,YearBuilt,Year_Remodeled,FirstExterior,SecondExterior,MasonryVeneer_Type,Neighborhood,Overall_Quality,Overall_Condition,Sale_Condition,Sale_Price
Id,,,,,,,,,,,,,,,,
1,2Story,3,2.5,Attchd,1710,Inside,2003,2003,VinylSd,VinylSd,BrkFace,CollgCr,7,5,Normal,208500
2,1Story,3,2.0,Attchd,1262,FR2,1976,1976,MetalSd,MetalSd,None,Veenker,6,8,Normal,181500
3,2Story,3,2.5,Attchd,1786,Inside,2001,2002,VinylSd,VinylSd,BrkFace,CollgCr,7,5,Normal,223500
4,2Story,3,1.0,Detchd,1717,Corner,1915,1970,Wd Sdng,Wd Shng,None,Crawfor,7,5,Abnorml,140000
5,2Story,4,2.5,Attchd,2198,FR2,2000,2000,VinylSd,VinylSd,BrkFace,NoRidge,8,5,Normal,250000
6,1.5Fin,1,1.5,Attchd,1362,Inside,1993,1995,VinylSd,VinylSd,None,Mitchel,5,5,Normal,143000
7,1Story,3,2.0,Attchd,1694,Inside,2004,2005,VinylSd,VinylSd,Stone,Somerst,8,5,Normal,307000
8,2Story,3,2.5,Attchd,2090,Corner,1973,1973,HdBoard,HdBoard,Stone,NWAmes,7,6,Normal,200000
9,1.5Fin,2,2.0,Detchd,1774,Inside,1931,1950,BrkFace,Wd Shng,None,OldTown,7,5,Abnorml,129900
10,1.5Unf,2,1.0,Attchd,1077,Corner,1939,1950,MetalSd,MetalSd,None,BrkSide,5,6,Normal,118000

In [287]:
df.dtypes

HouseStyle             object
No_of_Bedrooms          int64
No_of_Bath            float64
Garage_Type            object
Total_Sqft              int64
Lot_Location           object
YearBuilt               int64
Year_Remodeled          int64
FirstExterior          object
SecondExterior         object
MasonryVeneer_Type     object
Neighborhood           object
Overall_Quality         int64
Overall_Condition       int64
Sale_Condition         object
Sale_Price              int64
dtype: object

In [288]:
df.nunique()

HouseStyle              8
No_of_Bedrooms          8
No_of_Bath              8
Garage_Type             7
Total_Sqft            861
Lot_Location            5
YearBuilt             112
Year_Remodeled         61
FirstExterior          15
SecondExterior         16
MasonryVeneer_Type      5
Neighborhood           25
Overall_Quality        10
Overall_Condition       9
Sale_Condition          6
Sale_Price            663
dtype: int64

In [289]:
# Identifying Data Types to Test for Normality

# Column             dtype   Date Type               Model Type     Notes

# HouseStyle         object  Categorical/Nominal     Classification Convert to int64
# No_of_Bedrooms     int64   Numerical/interval      Regression
# No_of_Bath         int64   Numerical/interval      Regression     
# Garage_Type        object  Categorical/Dichotomous Classification Convert to binary 
# Total_Sqft         int64   Numberical/Continuous   Regression
# Lot_Location       object  Categorical/Nominal     Classification Convert to int64
# YearBuilt          int64   Numberical/interval     Regression     
# Year_Remodeled     int64   Numberical/interval     Regression 
# FirstExterior      object  Categorical/Nominal     Classification Convert to int64
# SecondExterior     object  Categorical/Nominal     Classification Convert to int64
# MasonryVeneer_Type object  Categorical/Nominal     Classification Convert to int64
# Neighborhood       object  Categorical/Nominal     Classification 
# Overall_Quality    int64   Categorical/Ordinal     Classification
# Overall_Condition  int64   Categorical/Ordinal     Classification
# Sale_Condition     object  Categorical/Nominal     Classification Convert to int64
# Sale_Price         int64   Numberical/Continuous   Sim. or Multi Regression

#### Transform Data -  Encoding

In [290]:
# Creating an instance of label encoder
label_encoder = LabelEncoder()

df2 = df.copy()
df2["HouseStyle_le"] = label_encoder.fit_transform(df2["HouseStyle"])
df2["Garage_Type_le"] = label_encoder.fit_transform(df2["Garage_Type"])
df2["Lot_Location_le"] = label_encoder.fit_transform(df2["Lot_Location"])
df2["FirstExterior_le"] = label_encoder.fit_transform(df2["FirstExterior"])
df2["SecondExterior_le"] = label_encoder.fit_transform(df2["SecondExterior"])
df2["MasonryVeneer_Type_le"] = label_encoder.fit_transform(df2["MasonryVeneer_Type"])
df2["Neighborhood_le"] = label_encoder.fit_transform(df2["Neighborhood"])
df2["Sale_Condition_le"] = label_encoder.fit_transform(df2["Sale_Condition"])

df2.head(10)

,HouseStyle,No_of_Bedrooms,No_of_Bath,Garage_Type,Total_Sqft,Lot_Location,YearBuilt,Year_Remodeled,FirstExterior,SecondExterior,...,Sale_Condition,Sale_Price,HouseStyle_le,Garage_Type_le,Lot_Location_le,FirstExterior_le,SecondExterior_le,MasonryVeneer_Type_le,Neighborhood_le,Sale_Condition_le
Id,,,,,,,,,,,,,,,,,,,,,
1,2Story,3,2.5,Attchd,1710,Inside,2003,2003,VinylSd,VinylSd,...,Normal,208500,5,2,4,12,13,2,5,4
2,1Story,3,2.0,Attchd,1262,FR2,1976,1976,MetalSd,MetalSd,...,Normal,181500,2,2,2,8,8,3,24,4
3,2Story,3,2.5,Attchd,1786,Inside,2001,2002,VinylSd,VinylSd,...,Normal,223500,5,2,4,12,13,2,5,4
4,2Story,3,1.0,Detchd,1717,Corner,1915,1970,Wd Sdng,Wd Shng,...,Abnorml,140000,5,6,0,13,15,3,6,0
5,2Story,4,2.5,Attchd,2198,FR2,2000,2000,VinylSd,VinylSd,...,Normal,250000,5,2,2,12,13,2,15,4
6,1.5Fin,1,1.5,Attchd,1362,Inside,1993,1995,VinylSd,VinylSd,...,Normal,143000,0,2,4,12,13,3,11,4
7,1Story,3,2.0,Attchd,1694,Inside,2004,2005,VinylSd,VinylSd,...,Normal,307000,2,2,4,12,13,4,21,4
8,2Story,3,2.5,Attchd,2090,Corner,1973,1973,HdBoard,HdBoard,...,Normal,200000,5,2,0,6,6,4,14,4
9,1.5Fin,2,2.0,Detchd,1774,Inside,1931,1950,BrkFace,Wd Shng,...,Abnorml,129900,0,6,4,3,15,3,17,0
10,1.5Unf,2,1.0,Attchd,1077,Corner,1939,1950,MetalSd,MetalSd,...,Normal,118000,1,2,0,8,8,3,3,4

In [291]:
df2_legend = df2.copy()

In [292]:
# Create Enconder Legend
df2_legend = df2_legend[["HouseStyle", "HouseStyle_le",
                         "Garage_Type","Garage_Type_le",
                         "Lot_Location", "Lot_Location_le",
                         "FirstExterior", "FirstExterior_le",
                         "SecondExterior", "SecondExterior_le",
                         "MasonryVeneer_Type", "MasonryVeneer_Type_le",
                         "Neighborhood", "Neighborhood_le",
                         "Sale_Condition", "Sale_Condition_le"]]
df2_legend.head(10)

,HouseStyle,HouseStyle_le,Garage_Type,Garage_Type_le,Lot_Location,Lot_Location_le,FirstExterior,FirstExterior_le,SecondExterior,SecondExterior_le,MasonryVeneer_Type,MasonryVeneer_Type_le,Neighborhood,Neighborhood_le,Sale_Condition,Sale_Condition_le
Id,,,,,,,,,,,,,,,,
1,2Story,5,Attchd,2,Inside,4,VinylSd,12,VinylSd,13,BrkFace,2,CollgCr,5,Normal,4
2,1Story,2,Attchd,2,FR2,2,MetalSd,8,MetalSd,8,None,3,Veenker,24,Normal,4
3,2Story,5,Attchd,2,Inside,4,VinylSd,12,VinylSd,13,BrkFace,2,CollgCr,5,Normal,4
4,2Story,5,Detchd,6,Corner,0,Wd Sdng,13,Wd Shng,15,None,3,Crawfor,6,Abnorml,0
5,2Story,5,Attchd,2,FR2,2,VinylSd,12,VinylSd,13,BrkFace,2,NoRidge,15,Normal,4
6,1.5Fin,0,Attchd,2,Inside,4,VinylSd,12,VinylSd,13,None,3,Mitchel,11,Normal,4
7,1Story,2,Attchd,2,Inside,4,VinylSd,12,VinylSd,13,Stone,4,Somerst,21,Normal,4
8,2Story,5,Attchd,2,Corner,0,HdBoard,6,HdBoard,6,Stone,4,NWAmes,14,Normal,4
9,1.5Fin,0,Detchd,6,Inside,4,BrkFace,3,Wd Shng,15,None,3,OldTown,17,Abnorml,0
10,1.5Unf,1,Attchd,2,Corner,0,MetalSd,8,MetalSd,8,None,3,BrkSide,3,Normal,4

In [293]:
# Transformed database
# Drop Columns
df2 = df2.drop(['HouseStyle',
          'Garage_Type',
          'Lot_Location',
          'FirstExterior',
          'SecondExterior',
          'MasonryVeneer_Type',
          'Neighborhood',
          'Sale_Condition'],
         axis=1)
df2.head(10)

,No_of_Bedrooms,No_of_Bath,Total_Sqft,YearBuilt,Year_Remodeled,Overall_Quality,Overall_Condition,Sale_Price,HouseStyle_le,Garage_Type_le,Lot_Location_le,FirstExterior_le,SecondExterior_le,MasonryVeneer_Type_le,Neighborhood_le,Sale_Condition_le
Id,,,,,,,,,,,,,,,,
1,3,2.5,1710,2003,2003,7,5,208500,5,2,4,12,13,2,5,4
2,3,2.0,1262,1976,1976,6,8,181500,2,2,2,8,8,3,24,4
3,3,2.5,1786,2001,2002,7,5,223500,5,2,4,12,13,2,5,4
4,3,1.0,1717,1915,1970,7,5,140000,5,6,0,13,15,3,6,0
5,4,2.5,2198,2000,2000,8,5,250000,5,2,2,12,13,2,15,4
6,1,1.5,1362,1993,1995,5,5,143000,0,2,4,12,13,3,11,4
7,3,2.0,1694,2004,2005,8,5,307000,2,2,4,12,13,4,21,4
8,3,2.5,2090,1973,1973,7,6,200000,5,2,0,6,6,4,14,4
9,2,2.0,1774,1931,1950,7,5,129900,0,6,4,3,15,3,17,0
10,2,1.0,1077,1939,1950,5,6,118000,1,2,0,8,8,3,3,4

In [294]:
# Organize Columns
encoded_df = df2[['HouseStyle_le',
        'No_of_Bedrooms',
        'No_of_Bath',
        'Garage_Type_le',
        'Total_Sqft',
        'Lot_Location_le',
        'YearBuilt',
        'Year_Remodeled',
        'FirstExterior_le',
        'SecondExterior_le',
        'MasonryVeneer_Type_le',
        'Neighborhood_le',
        'Overall_Quality',
        'Overall_Condition',
        'Sale_Condition_le',
        'Sale_Price'
        ]]

encoded_df.head(10)

,HouseStyle_le,No_of_Bedrooms,No_of_Bath,Garage_Type_le,Total_Sqft,Lot_Location_le,YearBuilt,Year_Remodeled,FirstExterior_le,SecondExterior_le,MasonryVeneer_Type_le,Neighborhood_le,Overall_Quality,Overall_Condition,Sale_Condition_le,Sale_Price
Id,,,,,,,,,,,,,,,,
1,5,3,2.5,2,1710,4,2003,2003,12,13,2,5,7,5,4,208500
2,2,3,2.0,2,1262,2,1976,1976,8,8,3,24,6,8,4,181500
3,5,3,2.5,2,1786,4,2001,2002,12,13,2,5,7,5,4,223500
4,5,3,1.0,6,1717,0,1915,1970,13,15,3,6,7,5,0,140000
5,5,4,2.5,2,2198,2,2000,2000,12,13,2,15,8,5,4,250000
6,0,1,1.5,2,1362,4,1993,1995,12,13,3,11,5,5,4,143000
7,2,3,2.0,2,1694,4,2004,2005,12,13,4,21,8,5,4,307000
8,5,3,2.5,2,2090,0,1973,1973,6,6,4,14,7,6,4,200000
9,0,2,2.0,6,1774,4,1931,1950,3,15,3,17,7,5,0,129900
10,1,2,1.0,2,1077,0,1939,1950,8,8,3,3,5,6,4,118000

In [295]:
encoded_df.dtypes

HouseStyle_le              int32
No_of_Bedrooms             int64
No_of_Bath               float64
Garage_Type_le             int32
Total_Sqft                 int64
Lot_Location_le            int32
YearBuilt                  int64
Year_Remodeled             int64
FirstExterior_le           int32
SecondExterior_le          int32
MasonryVeneer_Type_le      int32
Neighborhood_le            int32
Overall_Quality            int64
Overall_Condition          int64
Sale_Condition_le          int32
Sale_Price                 int64
dtype: object

#### Split the data into input (X) and output (y)

In [296]:
y = encoded_df["Sale_Price"]
X = encoded_df.drop(columns="Sale_Price")

In [297]:
# examine first five entries in X
X[:5]

,HouseStyle_le,No_of_Bedrooms,No_of_Bath,Garage_Type_le,Total_Sqft,Lot_Location_le,YearBuilt,Year_Remodeled,FirstExterior_le,SecondExterior_le,MasonryVeneer_Type_le,Neighborhood_le,Overall_Quality,Overall_Condition,Sale_Condition_le
Id,,,,,,,,,,,,,,,
1,5,3,2.5,2,1710,4,2003,2003,12,13,2,5,7,5,4
2,2,3,2.0,2,1262,2,1976,1976,8,8,3,24,6,8,4
3,5,3,2.5,2,1786,4,2001,2002,12,13,2,5,7,5,4
4,5,3,1.0,6,1717,0,1915,1970,13,15,3,6,7,5,0
5,5,4,2.5,2,2198,2,2000,2000,12,13,2,15,8,5,4

In [298]:
# The shape of X is 4380 samples, with 15 features (column)
X.shape

(1460, 15)

In [299]:
y[:5]

Id
1    208500
2    181500
3    223500
4    140000
5    250000
Name: Sale_Price, dtype: int64

In [300]:
# The shape of Y is 4380 samples, with 1 feature (column)
y.shape

(1460,)

In [301]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [312]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1095, 15)
(365, 15)
(1095,)
(365,)

In [313]:
# Adjusted Example
X_train2, X_test2, y_train2, y_test2 = train_test_split(X, y, random_state=78, train_size=0.80)

In [314]:
print(X_train2.shape)
print(X_test2.shape)
print(y_train2.shape)
print(y_test2.shape)

(1168, 15)
(292, 15)
(1168,)
(292,)

#### Transform Categorical Data Scale

In [315]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [316]:
print(np.mean(df_data_scaled[:,0]))
print(np.std(df_data_scaled[:,0]))

1.0950144900412503e-17
0.9999999999999998

#### Create a Linear Regression Model

In [317]:
# object instantiated, or created, from skylearn.linear_model's LinearGregresion class
model = LinearRegression()

### 2. Train the model with model.fit()

In [318]:
# learning stage, alternatively called fitting or training
model.fit(X, y)

LinearRegression()

### 3. Make predictions with model.predict()

In [319]:
# use predict() method to generate predictions
predictions = model.predict(X)
# print(predictions.shape)
predictions

array([214343.61770877, 184653.25399493, 219347.92856642, ...,
       250455.44686564, 130840.01742958, 137256.87296771])

In [320]:
# Plot the predictions as a red line against the data
# plt.scatter(X, y)
# plt.plot(X, y_pred, color='red')
# plt.show()

In [321]:
# examine specific parameters of model: the slope, model.ceof_, and the y-intercept, model.intercept_
print(model.coef_)
print(model.intercept_)

[ -2880.36051622  -9314.8849679  -10635.9028173    -978.79511417
     84.79816563   -818.49467202    689.98942803     60.37087391
   -510.91746415    239.6276235    3441.00395601    613.06111547
  20649.78951759   5892.67098872   3691.16122911]
-1555173.136353749

### 4. Validate the model with Accuracy Score, Confusion Matrix, Classification Report and Rank Importance of Features

In [324]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

ValueError: Found input variables with inconsistent numbers of samples: [365, 1460]

In [325]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

ValueError: Found input variables with inconsistent numbers of samples: [365, 1460]

In [ ]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

# Rank The Importance of Features

In [ ]:
# Calculate feature importance in the Random Forest model.
importances = model.feature_importances_
importances

In [ ]:
# We can sort the features by their importance.
sorted(zip(model.feature_importances_, X.columns), reverse=True)